$visual_grid: true;

@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";


@include font-face(Six Caps, 'http://fonts.googleapis.com/css?family=Six+Caps');
@include font-face(Open Sans, 'http://fonts.googleapis.com/css?family=Open+Sans:300');


.container {
  @include outer-container;
  font-family: 'Open Sans', sans-serif;
}

.header {
  font-size: 3em;
  text-align: center;

}

.p1 {
  @include span-columns(7);
  @include padding(30px null 30px null);
  @include shift(2.5);

}

textarea {
  @include span-columns(8);
  @include shift(2);
}


