$visual_grid: true;

@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";


@include font-face(Six Caps, 'http://fonts.googleapis.com/css?family=Six+Caps');
@include font-face(Open Sans, 'http://fonts.googleapis.com/css?family=Open+Sans:300');


.container {
  @include outer-container;
  font-family: 'Open Sans', sans-serif;

  .p1 {
    text-align: center;
    @include padding(30px null 30px null);
    @include span-columns(4);
    @include shift(4);
  }

  .text-button {
    @include outer-container;
    @include span-columns(12);

    #{$all-text-inputs} {
      border: 1px solid green;
      @include size(auto 100px);
      @include span-columns(7);
      @include shift(2.5);
    }

    button {
      @include shift(5);
      @include span-columns(2);
    }
  }

}



